*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    background: #fff url(Imagens/fundo.png) repeat-x;
}


#container {
    width: 750px;
    margin: 0;
}
#topo {
    height: 150px;
    background: url(Imagens/detalhe-topo.png) no-repeat right top;
}

.logo {
    height: 66px;
    height: 150px;
    background: url(./Imagens/logo.png) no-repeat;
    padding-top: 25px;
    text-indent: -3000px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul {
    background: #b10333;
    margin: 30px;
    float: left;
}
#topo ul li {
    float: left;
    
}
#topo ul a {
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    color: #fff;
    background: url(Imagens/divisor.png);
    line-height: 2.1em;
}
#topo ul a:hover {
    color: #69001d
}